# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/server.js
/src/components/templates/Sidebar.js
/src/components/templates/Markdown.js
/src/components/templates/MainFeaturedPost.js
/src/components/templates/Main.js
/src/components/templates/Header.js
/src/components/templates/Footer.js
/src/components/templates/FeaturedPost.js
/src/components/templates/Blog.js